body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-header {
    position: fixed;
    width: 100%;
    background-color: transparent; /* Default background color */
    transition: background-color 0.3s ease;
    height:100px;
    z-index:1001;
}

.main-header nav{
    display:flex;
    align-items: center;
    height:100%;
}

.name-header-button{
    margin-left:10%;
    border-radius:5px;
    padding:20px;
    font-size:30px;
    font-weight:bold;
    background-color: transparent;
    color:white;
    border:solid;
    transition:background-color 0.3 color 0.3s ease-in-out transform 0.3s 
}

.name-header-button:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    cursor:pointer;
}

.text-above-background-top{
    position:absolute;
    z-index:1;
    left:20%;
    top:45%;
    background-color:transparent;
    font-size:70px;
    color:white;
    font-family: 'Indie Flower';
}

.name-header-button-container{
    width:50%;
    transition: color 0.3s ease;
}

.main-header.inverted {
    background-color: #333333;
}

.main-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header nav ul li {
    display: inline;
}

.main-header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.main-header.inverted nav ul li a {
    color: #ffffff;
}

.name-header-button.inverted{
    color:white;
    background-color: black;
}

.primary-container{
    display:flex;
    padding-top:600px;
    justify-content:space-around;
}

.primary-image{
    width:45%;
    border-radius:10px;
}

.primary-description{
    width:35%;
    font-family:arial;
    display: flex;
    flex-direction: column;
    padding:0px 40px 0px 40px;
}

.description-title{
    color:rgb(163, 163, 163);
    font-size:20px;
    margin-bottom:20px;
    margin-top:40px;
}

.description-heading{
    font-size:32px;
    margin-bottom:30px;
}

.description-description{
    color:grey;
    font-family: 'Poppins', sans-serif;
    line-height:24px;
}

.sign-header-button{
    color:white;
    background-color: transparent;
    border:solid white 2px;
    padding:10px;
    font-size:15px;
    margin-right:20px;
    cursor:pointer;
}

.sign-header-button:hover{
    color:black;
    background-color: white;
}

.sign-header-button:active{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}











