  .customer-review-heading-container{
    margin-top:90px;
    text-align:center;
    margin-bottom:30px;
    display:flex;
    flex-direction: column;
    row-gap:15px;
}

.customer-review-container-top{
    color:grey;
    font-size:12px;
}

.customer-review-container-line{
    font-size:40px;
    font-family: 'Indie Flower',sans-serif;
}

.review-block{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:400px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding:40px 50px 80px 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.review-image-holder{
    width:80px;
}

.review-image-customer{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom:20px;
}

.rating-photo{
    width:100px;
}

.details-of-review{
    text-align: center;
    margin-bottom:30px;
    color:grey; 
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.name-of-customer{
    margin-bottom:0px;
}

.customer-place-name{
    color:grey;
}


.main-wrapper{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 10px;
  }
  .slider-wrapper{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .review-image-customer{
    object-fit: cover;
  }
  .slides{
    width: 100%;
    position: absolute;
    transition: transform .4s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
  }
  
  .slides img{
    width: 100px;
    height:100px;
    margin-left:-10px;
    border-radius: 50%;
  }

  .slider-btns{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider-btns span{
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 50%;
    color: black;
    cursor: pointer;
  }

  .dots{
    position: absolute;
    width: 100%;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 1;
  }
  
  .dots .dot{
    width: 1rem;
    height: 1rem;
    background-color: grey;
    opacity: .2;
    border-radius: 50%;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
  }

.rating-photo{
    object-fit: contain;
}
